# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.envrc
.firebaserc

public/

*.log

.idea/

functions/nuxt/

src/environments/env.development.js
src/environments/env.production.js
