module.exports = {
  baseUrl: 'http://localhost:3000',
  apiBaseUrl: 'xxxxx',
  firebase: {
    APIKEY: 'xxxxx',
    AUTHDOMAIN: 'xxxxx',
    DATABASEURL: 'xxxxx',
    PROJECTID: 'xxxxx',
    STORAGEBUCKET: 'xxxxx',
    MESSAGINGSENDERID: xxxxx
  }
}
